@font-face {
  font-family: MarckScript;
  src: url("../assets/fonts/MarckScript-Regular.ttf");
}

@font-face {
  font-family: Dancing-Script;
  src: url("../assets/fonts/Dancing_Scripts/DancingScript-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: Dancing-Script;
  src: url("../assets/fonts/Dancing_Scripts/DancingScript-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: Dancing-Script;
  src: url("../assets/fonts/Dancing_Scripts/DancingScript-Medium.ttf");
  font-weight: 500;
}

.container {
  background-color: green;
  width: max(700px, 70%);
  padding: 5px;
  gap: 6.5px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(170px, 1fr));

  .card {
    background-color: #ffdb89;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 10px 0;

    img {
      border: 1px solid red;
      height: 160px;
      width: 165px;

      background-size: 100% 100%;
    }

    span {
      font-family: MarckScript;
      letter-spacing: 1.5px;
      font-weight: 600;
      font-size: 18px;
    }
  }
}
