.container {
  background-color: green;
  width: max(700px, 70%);
  padding: 5px;
  gap: 5px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(170px, 1fr));
}
