@font-face {
  font-family: Chinese-Rock;
  src: url("../assets/fonts/Chinese-Rock.ttf");
}

.footer {
  background-color: #fff6c3;
  height: 40px;

  font-family: Chinese-Rock;
  width: 100vw;

  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  display: flex;
  align-items: center;
}

.github {
  height: 30px;
  width: 30px;
  background-size: 100% 100%;
}

.name {
  font-size: 20px;
}
