@font-face {
  font-family: Chinese-Rock;
  src: url("../assets/fonts/Chinese-Rock.ttf");
}

.header {
  background-color: red;
  height: 55px;
  font-family: Chinese-Rock;
  color: white;

  width: 100vw;
  margin-bottom: 20px;

  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 5px;

  .heading {
    font-size: 40px;
    letter-spacing: 1.1px;
  }

  .score,
  .best-score {
    font-size: 25px;
  }
}
