/**
 * Add border box sizing in all browsers (opinionated).
 */

*,
::before,
::after {
  box-sizing: border-box;
}

/**
  * Use the default cursor in all browsers (opinionated).
  */

html {
  cursor: default;
}

/**
  * Remove the margin in all browsers (opinionated).
  */
html,
body {
  margin: 0;
  padding: 0;
}

/* Override chrome default border style on elements */
*,
*:focus,
*:hover {
  outline: none;
}

button:hover {
  cursor: pointer;
}

.App {
  height: 100vh;
  background-color: #850000;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: auto;
  font-size: 16px;
}
